<div class="review__comments">
	<% review_comments.each do |review_comment| %>
	<div class="review__comment-user">
		<div class="review__cooment-usere-img col-sm-1">
			<%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg',fallback: "no_image.jpg" %>
		</div>
		<div class="offset-sm-2">
			<div class="review__comment-user-name">
				<%= link_to user_path(review_comment.user) do %>
					<b><%= review_comment.user.nickname %></b>
				<% end %>
			</div>
			<% if current_user == review_comment.user %>
				<div class="review__comment-delete">
					<%= link_to "削除する", place_review_review_comment_path(place_id: @place.id, review_id: @review.id, id: review_comment.id),
					method: :delete, remote: true, "data-confirm"=> "本当に削除しますか？？", class: "btn btn-danger btn-small" %>
				</div>
			<% end %>
			<div class="review__comment-user-info">
				<%= review_comment.created_at.strftime('%Y/%m/%d/ %H:%M') %>
			</div>
		</div>
	</div>
	<div class="review__comment-list">
		<div class="offset-sm-2">
			<%= simple_format(review_comment.comment) %>
		</div>
	</div>
	<% end %>
</div>