<div class="col-sm-3 profile">
	<div class="position-fixed">
		<h2>Profile</h2>

		<%= attachment_image_tag user, :profile_image, :fill,100, 100, format: 'jpeg',fallback: "no_image.jpg" %>

		<table class="profile__list">
				<tr>
					<th><%= user.nickname %></th>
				</tr>
				<tr>
					<th>フォロー</th>
					<td><%= link_to user.following.count, following_user_path %></td>
				</tr>
				<tr>
					<th>フォロワー</th>
					<td><%= link_to user.followers.count, followers_user_path %></td>
				</tr>
		</table>
		<% if current_user == user %>
			<div class="profile__btn">
				<%= link_to "プロフィール編集", edit_user_path(current_user.id),class: "btn btn-green " %>
			</div>
		<% else %>
			<div class="profile__btn">
				<%= render 'users/follow', user: user%>
			</div>
		<% end %>
		<div class="profile__btn btn btn-orange">行きたいリスト</div>
		<div class="profile__btn">
			<%= link_to "レビューを投稿する", new_place_path, class: "btn btn-blue btn-block" %>
		</div>
	</div>
</div>