<div class="top">
	<div class="top__image">
	</div>
	<h5>ジャンルやキーワードから探す</h5>
	<div class="top__search">
		<%= render 'home/search_form', q: @q %>
	</div>

	<div class="top__play-rank">
		<h5 class="top__genre">遊びランキング</h5>

		<% @places_play.first(3).each.with_index(1) do |place, index| %>
			<div class="top__rank-info">
				<h4><%= index %>位</h4>
				<%= link_to place_path(place) do %>
					<h5><%= place.name %></h5>
					<i> / <%= place.prefecture %></i>
				<% end %>
				<div class="top__rank-rate">
					<!-- レビュー投稿があれば -->
						<% if place.reviews.count > 0 %>
							<%= render 'places/rate_avg', place: place %>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>


	<div class="top__meal-rank">
		<h5 class="top__genre">食事ランキング</h5>
		<% @places_meal.first(3).each.with_index(1) do |place, index| %>
			<div class="top__rank-info">
				<h4><%= index %>位</h4>
				<%= link_to place_path(place) do %>
					<h5><%= place.name %></h5>
					<i> / <%= place.prefecture %></i>
				<% end %>
				<div class="top__rank-rate">
					<!-- レビュー投稿があれば -->
						<% if place.reviews.count > 0 %>
							<%= render 'places/rate_avg', place: place %>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>
<%#= render 'places_rank', place: place, index: index %>