<div class="reviews">
	<%= link_to user_path(user) do %>
	<div class="reviews__profile">
		<div class="reviews__profile-img col-sm-1">
			<%= attachment_image_tag user, :profile_image, format: 'jpeg',fallback: "no_image.jpg", size: "70x70" %>
		</div>
		<div class="offset-sm-2">
			<div class="reviews__profile-name">
				<b><%= user.nickname %></b>
			</div>
			<div class="reviews__profile-info">
				<i><%= user.address %>　/</i>
				<% if @age <= 19 %>
					<i>10代</i>
				<% elsif @age <= 29 %>
					<i>20代</i>
				<% elsif @age <= 39 %>
					<i>30代</i>
				<% elsif @age <= 49 %>
					<i>40代</i>
				<% elsif @age <= 59 %>
					<i>50代</i>
				<% elsif@age <= 69 %>
					<i>60代</i>
				<% elsif @age <= 79 %>
					<i>70代</i>
				<% elsif@age <= 89 %>
					<i>80代</i>
				<% elsif @age <= 99 %>
					<i>90代</i>
				<% elsif @age >= 100 %>
				 	<i>100代</i>
				<% end %>
				<i>　/<%= user.gender %></i>
			</div>
		</div>
	</div>
	<% end %>
	<div class="offset-sm-2">
		<div class="reviews__place">
			<h4 class="reviews__place_name"><%= review.place.name %></h4>
			<p class="reviews__place_info"><%= review.place.prefecture %></p>
			<p class="reviews__place_info"><%= review.place.genre %></p>
		</div>
	</div>
	<div class="offset-sm-2">
		<div class="reviews__text">
			<h5><%= review.title %></h5>
			<p><%= review.body %></p>
			<% review.review_images.each do |image| %>
			<%= attachment_image_tag image, :image, :fill, 80, 80, format: 'jpeg' %>
			<% end %>
		</div>
	</div>
</div>