<div class="reviews">
	<%= link_to user_path(user) do %>
		<div class="reviews__profile">
			<div class="reviews__profile-img col-sm-1">
				<%= attachment_image_tag user, :profile_image, format: 'jpeg',fallback: "no_image.jpg", size: "70x70" %>
			</div>
			<div class="offset-sm-2">
				<div class="reviews__profile-name">
					<b><%= user.nickname %></b>
				</div>
				<div class="reviews__profile-info">
					<i><%= user.address %>　/</i>
					    <i><%= user.age_decade %></i>
					<i>　/<%= user.gender %></i>
				</div>
			</div>
		</div>
	<% end %>
	<div class="offset-sm-2">
		<div class="reviews__place">
			<%= link_to place_path(review.place) do %>
				<h4 class="reviews__place_name"><%= review.place.name %></h4>
				<p class="reviews__place_info"><%= review.place.prefecture %></p>
				<p class="reviews__place_info"><%= review.place.genre %></p>
			<% end %>
		</div>
	</div>
	<div class="offset-sm-2">
		<div class="reviews__rate">
			<p><%= review.rate %>点</p>
		 <div id="review_star-<%= review.id %>"></div>
		</div>

	</div>
	<div class="offset-sm-2">
		<div class="reviews__text">
			<%= link_to place_review_path(place_id: review.place.id, id: review.id) do %>
				<h5><%= review.title %></h5>
				<p><%= simple_format(review.body) %></p>
				<% review.review_images.each do |image| %>
				<%= attachment_image_tag image, :image, :fill, 80, 80, format: 'jpeg' %>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="reviews__subaction offset-sm-2">
		<div class="reviews__favo">
			<% if review.favorited_by?(current_user) %>
				<%= link_to place_review_favorites_path(place_id: review.place.id, review_id: review.id), method: :delete do %>
				<i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
				<%= review.favorites.count %>いいね
				<% end %>
			<% else %>
				<%= link_to place_review_favorites_path(place_id: review.place.id, review_id: review.id), method: :post do %>
				<i class="far fa-heart" aria-hidden="true"></i>
				<%= review.favorites.count %>いいね
				<% end %>
			<% end %>
		</div>
		<div class="reviews__comment">
			<%= review.review_comments.count %>件コメント
		</div>
		<div class="offset-sm-8">
			<%= review.created_at.strftime('%Y/%m/%d/ %H:%M') %>
		</div>
	</div>
</div>

<script>
	$(document).on('turbolinks:load', function () {
		$('#review_star-<%= review.id %>').raty({
			size: 36,
			starOff:  '<%= asset_path('star-off.png') %>',
			starOn : '<%= asset_path('star-on.png') %>',
			starHalf: '<%= asset_path('star-half.png') %>',
			half: true,
			readOnly: true,
			score: <%= review.rate %>,
		});
	});
</script>