<h2>レビュー投稿</h2>


<div class="review">
	<div class="review-place">
		<h3><%= @place.name %></h3>
		<%= @place.prefecture %>
		<%= @place.genre %>
	</div>
	<div class="review-form">
		<%= form_with(model: [@place, @review]) do |f| %>
		<p>画像:<%= f.attachment_field :review_images_images, multiple: true %><%= f.attachment_field :review_images_images, multiple: true %><%= f.attachment_field :review_images_images, multiple: true %><%= f.attachment_field :review_images_images, multiple: true %></p>
		<h4>タイトル</h4>
		<%= f.text_field :title %>

		<h4>本文</h4>
		<%= f.text_area :body %>

		<%= f.submit %>
		<% end %>
	</div>
</div>