<%= render 'home/search_form', q: @q %>

<h2>検索結果</h2>
<% if @places.blank? %>
	<h3>検索に一致するものはありませんでした。</h3>
<% else %>
	<div class="places">
	 	<table class="places__list">
	 		<thead>
	 			<tr>
	 				<th>名前</th>
	 				<th>評価</th>
	 				<th>ジャンル</th>
	 				<th>都道府県</th>
	 			</tr>
	 		</thead>
	 		<% @places.each do |place| %>
	 		<tbody>
	 			<tr>
	 				<td><%= link_to place_path(place) do %>
	 						<%= place.name %>
	 					<% end %>
	 				</td>
	 				<!-- レビュー投稿があれば -->
	 				<% if place.reviews.count > 0 %>
	 				 <td><%= render 'rate_avg', place: place %></td>
	 				<% else %>
	 					<td>レビューなし</td>
	 				<% end %>
	 				<td><%= place.genre %></td>
	 				<td><%= place.prefecture %></td>
	 			</tr>
	 		</tbody>
	 		<% end %>
	 	</table>
	</div>
<% end %>

